@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RocknRoll One";
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 35%;
  }
}
